<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GameOf11.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>C14242B2A4AE89603C7BDF8C6199086A4AEF54B9</string>
				<key>dateExpires</key>
				<string>10/12/20</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C14242B2A4AE89603C7BDF8C6199086A4AEF54B9</string>
						<key>dateExpires</key>
						<string>10/12/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2VBWUYWHX2</string>
						<key>name</key>
						<string>MS UMBRELLA SOFT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C14242B2A4AE89603C7BDF8C6199086A4AEF54B9</string>
						<key>dateExpires</key>
						<string>10/12/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>BetterSegmentedControl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2VBWUYWHX2</string>
						<key>name</key>
						<string>MS UMBRELLA SOFT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C14242B2A4AE89603C7BDF8C6199086A4AEF54B9</string>
						<key>dateExpires</key>
						<string>10/12/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Bond.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2VBWUYWHX2</string>
						<key>name</key>
						<string>MS UMBRELLA SOFT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C14242B2A4AE89603C7BDF8C6199086A4AEF54B9</string>
						<key>dateExpires</key>
						<string>10/12/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>DTPagerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2VBWUYWHX2</string>
						<key>name</key>
						<string>MS UMBRELLA SOFT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C14242B2A4AE89603C7BDF8C6199086A4AEF54B9</string>
						<key>dateExpires</key>
						<string>10/12/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Differ.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2VBWUYWHX2</string>
						<key>name</key>
						<string>MS UMBRELLA SOFT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C14242B2A4AE89603C7BDF8C6199086A4AEF54B9</string>
						<key>dateExpires</key>
						<string>10/12/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Gloss.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2VBWUYWHX2</string>
						<key>name</key>
						<string>MS UMBRELLA SOFT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C14242B2A4AE89603C7BDF8C6199086A4AEF54B9</string>
						<key>dateExpires</key>
						<string>10/12/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2VBWUYWHX2</string>
						<key>name</key>
						<string>MS UMBRELLA SOFT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C14242B2A4AE89603C7BDF8C6199086A4AEF54B9</string>
						<key>dateExpires</key>
						<string>10/12/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2VBWUYWHX2</string>
						<key>name</key>
						<string>MS UMBRELLA SOFT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C14242B2A4AE89603C7BDF8C6199086A4AEF54B9</string>
						<key>dateExpires</key>
						<string>10/12/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2VBWUYWHX2</string>
						<key>name</key>
						<string>MS UMBRELLA SOFT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C14242B2A4AE89603C7BDF8C6199086A4AEF54B9</string>
						<key>dateExpires</key>
						<string>10/12/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Lottie.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2VBWUYWHX2</string>
						<key>name</key>
						<string>MS UMBRELLA SOFT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C14242B2A4AE89603C7BDF8C6199086A4AEF54B9</string>
						<key>dateExpires</key>
						<string>10/12/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>MarqueeLabel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2VBWUYWHX2</string>
						<key>name</key>
						<string>MS UMBRELLA SOFT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C14242B2A4AE89603C7BDF8C6199086A4AEF54B9</string>
						<key>dateExpires</key>
						<string>10/12/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>NotificationBannerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2VBWUYWHX2</string>
						<key>name</key>
						<string>MS UMBRELLA SOFT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C14242B2A4AE89603C7BDF8C6199086A4AEF54B9</string>
						<key>dateExpires</key>
						<string>10/12/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>ObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2VBWUYWHX2</string>
						<key>name</key>
						<string>MS UMBRELLA SOFT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C14242B2A4AE89603C7BDF8C6199086A4AEF54B9</string>
						<key>dateExpires</key>
						<string>10/12/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2VBWUYWHX2</string>
						<key>name</key>
						<string>MS UMBRELLA SOFT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C14242B2A4AE89603C7BDF8C6199086A4AEF54B9</string>
						<key>dateExpires</key>
						<string>10/12/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>ReactiveKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2VBWUYWHX2</string>
						<key>name</key>
						<string>MS UMBRELLA SOFT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C14242B2A4AE89603C7BDF8C6199086A4AEF54B9</string>
						<key>dateExpires</key>
						<string>10/12/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2VBWUYWHX2</string>
						<key>name</key>
						<string>MS UMBRELLA SOFT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C14242B2A4AE89603C7BDF8C6199086A4AEF54B9</string>
						<key>dateExpires</key>
						<string>10/12/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2VBWUYWHX2</string>
						<key>name</key>
						<string>MS UMBRELLA SOFT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C14242B2A4AE89603C7BDF8C6199086A4AEF54B9</string>
						<key>dateExpires</key>
						<string>10/12/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2VBWUYWHX2</string>
						<key>name</key>
						<string>MS UMBRELLA SOFT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C14242B2A4AE89603C7BDF8C6199086A4AEF54B9</string>
						<key>dateExpires</key>
						<string>10/12/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>ViewUtils.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2VBWUYWHX2</string>
						<key>name</key>
						<string>MS UMBRELLA SOFT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C14242B2A4AE89603C7BDF8C6199086A4AEF54B9</string>
						<key>dateExpires</key>
						<string>10/12/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2VBWUYWHX2</string>
						<key>name</key>
						<string>MS UMBRELLA SOFT</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C14242B2A4AE89603C7BDF8C6199086A4AEF54B9</string>
						<key>dateExpires</key>
						<string>10/12/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>2VBWUYWHX2.com.umbrella.go11.OneSignalNotificationServiceExtension</string>
						<key>com.apple.developer.team-identifier</key>
						<string>2VBWUYWHX2</string>
						<key>get-task-allow</key>
						<true/>
						<key>keychain-access-groups</key>
						<array>
							<string>2VBWUYWHX2.com.umbrella.go11.OneSignalNotificationServiceExtension</string>
						</array>
					</dict>
					<key>name</key>
					<string>OneSignalNotificationServiceExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>74ea1ba9-c4eb-4882-88db-da9175dfd833</string>
						<key>name</key>
						<string>OneSignal Dev</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2VBWUYWHX2</string>
						<key>name</key>
						<string>MS UMBRELLA SOFT</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>2VBWUYWHX2.com.umbrella.go11</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>2VBWUYWHX2</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>GameOf11.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>10d30fbf-abe3-4dac-996f-10c174857506</string>
				<key>name</key>
				<string>GO11 Dev</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>2VBWUYWHX2</string>
				<key>name</key>
				<string>MS UMBRELLA SOFT</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
